.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px;
}

/* 모바일 화면에서 사이드 메뉴로 변경 */
@media (max-width: 768px) {
  .menu-list {
    position: fixed; /* 메뉴를 화면의 왼쪽에 고정 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    width: 250px; /* 사이드 메뉴 너비 설정 */
    height: 100vh; /* 전체 화면 높이를 차지 */
    background-color: #fff; /* 배경색 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* 사이드 메뉴에 그림자 */
    display: block; /* 세로로 메뉴 나열 */
    padding: 20px;
    z-index: 1000; /* 메뉴가 다른 요소들 위에 오도록 */
    overflow-y: auto; /* 메뉴 내용이 많을 경우 스크롤 가능 */
  }

  .menu-list li {
    padding: 10px 0; /* 항목 간 간격 */
    border-bottom: 1px solid #ddd; /* 메뉴 항목 구분선 */
  }
  
  .nav-section {
    display: none; /* 로고 영역은 모바일에서 숨김 처리 */
  }
}

.menu-area {
  display: flex;
  justify-content: center;
  position: relative; /* 상대적 위치 설정 */
  width: 100%; /* 전체 너비 사용 */
}

.search-area {
  position: absolute; /* 절대적 위치 설정 */
  right: 0; /* 오른쪽에 배치 */
  height: 30px;
  background-color: #eaeaea;
  border: none;
  padding: 0px 4px 0px 4px;
}

.search-input {
  border: none;
  height: 20px;
  background-color: #eaeaea;
}

.product-card {
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 100%;
}

.product-card:hover img {
  transform: scale(1.1);
}

.login-button {
  display: flex;
  border: none;
  background-color: white;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.product-img {
  justify-content: flex-end;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

.product-choice {
  font-size: 12px;
  color: #888;
}

.product-select {
  width: 130px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-add-button {
  background-color: black;
  color: white;
  border: none;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}